#chrId {
    position: relative;
    top: 0px;
    left: 0px;
}

body {
  background: url(nightsky.png);
  background-size: cover;
  top: ;
  left: ;
}

#tree {
  position: fixed;
  top: 79%;
  left: 20%;
}
